<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <main>

    <div class="mt-2">
      <a href="/profile/<%= user.id %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#54c981" class="bi bi-arrow-left-circle"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
        <span class="link-animation">Return to profile</span>
      </a>
    </div>

    <!-- <div class="text-center mt-4">
      <h1>My Account Details</h1>
    </div>

    <div class="text-center mt-4 mb-3">
      <h4>Update Profile</h4>
    </div>
    
    <img src="<%= user.avatar %> " alt="Avatar Image" class="img-fluid rounded-circle profile-avatar mb-4"> -->

    <div class="text-center mt-4">
      <h1 class="mb-5">My Account Details</h1>
      <h4 class="mb-3">Update Profile</h4>
      <img src="<%= user.avatar %> " alt="Avatar Image" class="img-fluid rounded-circle profile-avatar mb-3">
    </div>

    <div class="container">
      
      <!-- Update Profile Only Form -->
      <% if (typeof error !=='undefined' ) { %>
        <p class="error-msg text-center">Error: <%= error %>
        </p>
        <% } %>

      <form action="/profile/<%= user.id %>?_method=PUT" method="POST">
      
        <!-- Avatar Fields -->
        <div class="row justify-content-center mb-3">
          <div class="col-2">
            <label for="avatarUrl">Avatar URL</label>
          </div>
          <div class="col-5">
            <div class="input-field edit-input-field">
              <input type="text" name="avatar" class="form-control" id="avatarUrl" value="<%= user.avatar %>">
            </div>
          </div>
        </div>
        
        <!-- Username Fields -->
        <div class="row justify-content-center mb-3">
          <div class="col-2">
            <label for="username">Username</label>
          </div>
          <div class="col-5">
            <div class="input-field edit-input-field">
              <input type="text" name="username" class="form-control" id="username" value="<%= user.username %>">
            </div>
          </div>
        </div>
        
        <!-- Email Fields -->
        <div class="row justify-content-center mb-3">
          <div class="col-2">
            <label for="email">Email</label>
          </div>
          <div class="col-5">
            <div class="input-field edit-input-field">
              <input type="text" name="email" class="form-control" id="email" value="<%= user.email %>">
            </div>
          </div>
        </div>
        
        <!-- Bio Fields -->
        <div class="row justify-content-center mb-3">
          <div class="col-2">
            <label for="bio">Bio</label>
          </div>
          <div class="col-5">
            <div class="input-field edit-input-field">
              <textarea class="form-control" name="bio" id="bio" value="<%= user.bio %>" rows="2"></textarea>
            </div>
          </div>
        </div>

        <!-- Submit Profile Updates -->
        <div class="text-center my-4">
          <button type="submit" class="btn button green-button">Update Profile</button>
        </div>
        </form>

        <!-- CHANGE PASSWORD FORM -->

        <div class="text-center mt-5 mb-3">
          <h4>Update Password</h4>
        </div>

        <form action="/pw/<%= user.id %>?_method=PUT" method="POST">
        <!-- Password Fields -->
        <div class="row justify-content-center mb-3">
          <div class="col-2">
            <label for="passwordOne">Password</label>
          </div>
          <div class="col-5">
            <div class="input-field edit-input-field">
              <input type="password" name="password" class="form-control" id="passwordOne" placeholder="********" >
            </div>
          </div>
        </div>
        
        <!-- Confirm Password Fields -->

          <div class="row justify-content-center mb-3">
            <div class="col-2">
              <label for="passwordTwo">Confirm Password</label>
            </div>
            <div class="col-5">
              <div class="input-field edit-input-field">
                <input type="password" name="passwordTwo" class="form-control" id="passwordTwo" placeholder="********" >
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn button green-button mb-5">Update Password</button>
          </div>
        </form>

        <div class="text-center mb-5">
          <a href="/restaurants" class="btn button grey-button">Cancel All Changes</a>
        </div>
        
          <div class="text-center mb-5">
            <button type="button" class="btn button red-button" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
              Delete Account
            </button>



          </div>

          <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteAccountModalLabel">Are you sure?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete your account? This action cannot be undone.</p>

                  <div class="text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                    <form action="/<%= user.id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn rounded-pill">Delete Account</button>
                    </form>
                  </div>
                  

                </div>
              </div>
            </div>
          </div>


        
        
      

    </div>

  </main>
</body>
</html>