<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { page: "Profile" }) %>

<body>
  <%- include('../partials/nav') %>
  <main>
    <h1><%= profile.username %>'s Profile</h1>
    <img src="<%= profile.avatar %> " alt="<%= profile.username %> avatar image" class="img-fluid rounded-circle profile-avatar-img">
    <p><%= profile.bio %></p>

    <% if (typeof user !== 'undefined') { %>
      <% if (profile.id === user.id) { %>
        <a href="#">Edit Profile</a>
      <% } %> 
    <% } %> 

    <h2>Reviews History</h2>
    <h2><%= profile.id %></h2>
    <hr />
    <% for (let i = 0; i < reviews.length; i++) { %> 
      <% const review = reviews[i] %> 
      <h5><%= review.restaurant %></h5>
      <div><%= review.rating %></div>
      <p><%= review.content %></p>
    <% } %> 
  </main>
</body>
</html>