<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { page: "Profile" }) %>

<body>
  <%- include('../partials/nav') %>
  <main>
    <div class="text-center mt-3">
      <h1><%= profile.username %>'s Profile</h1>
    <img src="<%= profile.avatar %> " alt="<%= profile.username %> avatar image" class="img-fluid rounded-circle profile-avatar-img mb-4">
    <h2>About me:</h2>
    <p><%= profile.bio %></p>
    </div>
    
    <% if (typeof user !=='undefined' ) { %>
      <% if (profile.id===user.id) { %>
        <div class="text-end">
          <a href="/<%= user.id %>/edit" class="btn rounded-pill text-end warning-button">Edit My Profile or Account</a>
        </div>
        <% } %>
          <% } %>

    <h2 class="mt-5">Reviews History</h2>
    <hr />

    <% for (let i = 0; i < reviews.length; i++) { %> 
      <% const review = reviews[i] %> 
      <div class="mb-5">
        <a href="/restaurants/<%= review.restaurant.id %>">
          <h5>
            <%= review.restaurant.name %>
          </h5>
        </a>
        
        <!-- Review stars -->
        <div class="mb-2">
          <% for ( let idx=0; idx < 5; idx++) { %>
            <% if (review.rating> idx) { %>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#eb4d47" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
              </svg>
              <% } else { %>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#eb4d47" class="bi bi-heart"
                  viewBox="0 0 16 16">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
                <% } %>
                  <% } %>
        </div>
        
        <div class="mb-2 fst-italic">
          <%= (review.createdAt).toLocaleDateString('en-US') %>
        </div>
        <p class="mb-2">
          <%= review.content %>
        </p>
        
        <% if (typeof user !=='undefined' ) { %>
          <% if (profile.id===user.id) { %>
            <div class="text-end">
              <form action="/reviews/<%= review.id %>?_method=DELETE" method="POST" ">
                <button type="submit" class="btn rounded-pill">Delete Review for <%= review.restaurant.name %> </button>
              </form>
            </div>
            <% } %>
        <% } %>

      </div>
    <% } %>

    
      
    
  </main>
</body>
</html>