<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { page: "Food" }) %>

<body>
  <%- include('../partials/nav') %> 
  <main>

    <!-- Function for phone number format -->
    <% const formatPhoneNumber=(phone)=> { %>
      <% let match=phone.match(/(\d{3})(\d{3})(\d{4})/); %>
      <% if (match) { %>
        <% return ['(', match[1], ') ' , match[2], '-' , match[3]].join('') %>
      <% } else console.log("error with phone format") %>
    <% } %>

    <header>
      <img src="<%= restaurant.image %>" alt="">
    </header>

    <h1 class="text-center"><span class="red-heading">- <%= restaurant.name %> -</span></h1>

    <div class="container-md mt-3">
      <div class="row">
        <div class="col-md-6">
          <h3>Who</h3>
          <p>
            <%= restaurant.name %>
          </p>
          
          <h3>What</h3>
          <p>
            <% const categoryArray=restaurant.categories %>
              <% categoryArray.forEach(element=> { %>
                #<%= element %>
                  <% }) %>
          </p>

          <!-- View Menu Modal Trigger -->
          
          <a href="" class="text-link" data-bs-toggle="modal" data-bs-target="#menuModal">
            View Full Menu
          </a>

          <h3 class="mt-3">Where</h3>
          <div class="lh-1">
            <p><%= restaurant.location.address %>
              <%= restaurant.location.city %>, <%= restaurant.location.state %>
                  <%= restaurant.location.zipcode %>
            </p>
            <p>
              <a href="tel:<%= restaurant.phone %>" class="text-link">
                <p><%= formatPhoneNumber(restaurant.phone) %></p>
              </a>
            </p>
          </div>
        </div>
        
        <div class="col-md-6">
          <h3>When</h3>
          <p>Sunday: <%= restaurant.hours[0] %></p>
          <p>Monday: <%= restaurant.hours[1] %></p>
          <p>Tuesday: <%= restaurant.hours[2] %></p>
          <p>Wednesday: <%= restaurant.hours[3] %></p>
          <p>Thursday: <%= restaurant.hours[4] %></p>
          <p>Friday: <%= restaurant.hours[5] %></p>
          <p>Saturday: <%= restaurant.hours[6] %></p>
        </div>

      </div>
      
    </div>
    
    <!-- Reviews Section -->

    <div class="container mt-3">
      <h3>Why</h3>
      <hr>
      
      <!-- New Review Modal Trigger -->

      <div class="text-center my-4">
        <h4>Have you been here to satisfy your cravings?</h4>
        <button type="button" class="btn rounded-pill review-submit-btn mt-2" data-bs-toggle="modal" data-bs-target="#reviewModal">
          Submit a Review
        </button>
      </div>

      <!-- Review Cards -->
      <% for (let i=0; i < reviews.length; i++) { %>
        <% const review = reviews[i] %> 
        
        <div class="card mb-4">
          <div class="row g-0">

            <!-- Review Cards - Left -->

            <div class="col-md-3 text-center pt-3">
              <a href="/profile/<%= review.user %>">
                <img src="" class="img-fluid rounded-circle avatar-img" alt="Profile Avatar">
                <h5><%= review.user %></h5>
              </a>
              <p class="fst-italic">
                <%= (review.createdAt).toLocaleDateString('en-US') %>
              </p>
            </div>

            <!-- Review Cards - Right -->

            <div class="col-md-9">
              <div class="mt-3">

                <!-- Review stars -->
                
                <% for ( let idx=0; idx < 5; idx++) { %>
                  <% if (review.rating > idx) { %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#eb4d47" class="bi bi-heart-fill"
                      viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                    <% } else { %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#eb4d47" class="bi bi-heart"
                        viewBox="0 0 16 16">
                        <path
                          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                      </svg>
                    <% } %>
                  <% } %>

                <!-- Review Content -->
                  
                <p class="mt-3">
                  <%= review.content %>
                </p>

              </div>
            </div>

          </div>
        </div>
        
      <% } %>

    </div>

    <!-- ALL MODALS -->

    <!-- View Menu Modal -->
    
    <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header menu-modal-header">
            <h2 class="modal-title" id="menuModalLabel">
              Menu
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3 class="text-center">
              <%= restaurant.name %>
            </h3>
            <h5 class="text-center mb-4">
              <a href="tel:<%= restaurant.phone %>">
                <%= formatPhoneNumber(restaurant.phone) %>
              </a>
            </h5>
            <div class="container-fluid">
              <div class="row align-items-start">
                <div class="col-lg-6 text-center">
                  <h6>Appetizers</h6>
                  <p>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                  </p>
                  <h6>Entrees</h6>
                  <p>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                  </p>
                </div>
                <div class="col-md-6">
                  <h6>Drinks</h6>
                  <p>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                  </p>
                  <h6>Dessert</h6>
                  <p>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                    Lorem Ipsum....................00<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- New Review Modal Form -->
    
    <div class="modal fade" id="reviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="reviewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="reviewModalLabel">Write a review for <%= restaurant.name %>
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/reviews" method="POST">
              <div class="slidecontainer">
                <label for="myRange" class="form-label">Star Rating</label>
                <input name="rating" type="range" min="0" max="5" value="0" class="reviews-slider" step="1" id="myRange">
              </div>
    
              <div class="mb-3">
                <textarea name="content" class="form-control" rows="5"
                  placeholder="Tell us about your experience!" maxlength="1000" required></textarea>
                <p class="text-end"><small>Maximum 1000 characters.</small></p>
              </div>
    
              <input type="hidden" name="restaurant" value="<%= restaurant._id %>" />

              <% if (typeof user !== 'undefined') { %>
                <input type="hidden" name="user" value="<%= user.id%>" />
              <% } %> 

              <div class="text-center">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn rounded-pill review-submit-btn">Submit</button>
              </div>
            </form>

          </div>
            
        </div>
      </div>
    </div>

  </main>
</body>
</html>